/*=========================================================
===========================================================

PROJECT: BEAST LEAGUE APPAREL 2021

NOTES: E-COMMERCE PROJECT USING HTML5, CSS3, SCSS & JS

WEBSITE: WWW.BEASTLEAGUEAPPAREL.COM

===========================================================
=========================================================*/
/*=========================================================
-------------------------VARIABLES-------------------------
=========================================================*/
/*====================================================
----------------------MIXINS------------------------
==================================================*/
/*========================================================
---------------------------RESETS-------------------------
========================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

/*=========================================================
---------------------------HEADER--------------------------
=========================================================*/
