/*=========================================================
===========================================================

PROJECT: BIEN CHIDO CUTZ 2021

NOTES: LANDING PAGE PROJECT USING HTML5, CSS3, SCSS

WEBSITE: WWW.BIENCHIDOCUTZ.COM

===========================================================
=========================================================*/
/*=========================================================
--------------------------IMPORTS--------------------------
=========================================================*/
@font-face {
  font-family: "agency-reg";
  src: url(./fonts/AGENCYR.TTF);
}

@font-face {
  font-family: "agency-bold";
  src: url(./fonts/AGENCYB.TTF);
}

@font-face {
  font-family: "kunstler";
  src: url(./fonts/KUNSTLER.TTF);
}

@font-face {
  font-family: "tw-cent";
  src: url(./fonts/TCM_____.TTF);
}

/*=========================================================
-------------------------VARIABLES-------------------------
=========================================================*/
/*====================================================
----------------------MIXINS------------------------
==================================================*/
/*========================================================
---------------------------RESETS-------------------------
========================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "agency-reg", sans-serif;
  color: #a3810f;
  background-color: #050505;
}

/*=========================================================
---------------------------HEADER--------------------------
=========================================================*/
header {
  width: 100vw;
  height: 10rem;
}

header .header-box1 {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-box1 .logo {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

header .header-box1 .logo a {
  color: #a3810f;
  text-decoration: none;
  cursor: pointer;
}

header .header-box1 .icons {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-box1 .icons li {
  width: 70%;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-box1 .icons li a {
  color: #a3810f;
  cursor: pointer;
}

header .header-box1 .icons li a i {
  font-size: 2rem;
}

header .header-box2 {
  width: 100%;
  height: 50%;
}

header .header-box2 .nav-main {
  width: 100%;
  height: 100%;
  background-color: #a3810f;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

header .header-box2 .nav-main .ul-main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-box2 .nav-main .ul-main .li-main {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-box2 .nav-main .ul-main .li-main .links {
  position: relative;
  text-decoration: none;
  font-size: 2.2rem;
  color: #050505;
  font-family: "agency-bold", sans-serif;
  cursor: pointer;
}

header .header-box2 .nav-main .ul-main .li-main .links::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: #050505;
  position: absolute;
  bottom: -10%;
  left: 0;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

header .header-box2 .nav-main .ul-main .li-main .links:hover::after {
  width: 100%;
}

/*=========================================================
-------------------------JUMBOTRON-------------------------
=========================================================*/
.jumbotron {
  width: 100vw;
  height: calc(100vh - 10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron .jumbo-title {
  margin-top: 6rem;
  font-family: "tw-cent", sans-serif;
  font-size: 2.75rem;
}

.jumbotron .jumbo-subtitle {
  margin-top: 1rem;
  font-family: "kunstler", sans-serif;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jumbotron .jumbo-subtitle .line {
  width: 2.75rem;
  height: 0.2rem;
  margin: 0 0.75rem;
  background-color: #a3810f;
}

.jumbotron .jumbo-subtitle h2 {
  font-size: 2.75rem;
}

.jumbotron .jumbo-cta {
  width: 100%;
  height: 8rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron .jumbo-cta .cta-btn {
  position: relative;
  text-decoration: none;
  font-family: "agency-bold", sans-serif;
  font-size: 3rem;
  color: #a3810f;
  border: 0.2rem solid #a3810f;
  padding: 1rem 2rem;
  cursor: pointer;
}

.jumbotron .jumbo-cta .cta-btn::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #a3810f;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: -2;
}

.jumbotron .jumbo-cta .cta-btn:hover::after {
  width: 100%;
}

.jumbotron .jumbo-cta .cta-btn:hover {
  color: #050505;
}

.jumbotron .jumbo-img {
  width: 100%;
  height: 40%;
  margin-top: 7rem;
}

.jumbotron .jumbo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
