/*=========================================================
===========================================================

PROJECT: BIEN CHIDO CUTZ 2021

NOTES: LANDING PAGE PROJECT USING HTML5, CSS3, SCSS

WEBSITE: WWW.BIENCHIDOCUTZ.COM

===========================================================
=========================================================*/

/*=========================================================
--------------------------IMPORTS--------------------------
=========================================================*/

@font-face {
  font-family: "agency-reg";
  src: url(./fonts/AGENCYR.TTF);
}

@font-face {
  font-family: "agency-bold";
  src: url(./fonts/AGENCYB.TTF);
}

@font-face {
  font-family: "kunstler";
  src: url(./fonts/KUNSTLER.TTF);
}

@font-face {
  font-family: "tw-cent";
  src: url(./fonts/TCM_____.TTF);
}

/*=========================================================
-------------------------VARIABLES-------------------------
=========================================================*/

//---------FONTS-----------

$primary-font: "agency-reg", sans-serif;
$secondary-font: "tw-cent", sans-serif;
$tertiary-font: "agency-bold", sans-serif;
$quaternary-font: "kunstler", sans-serif;

//--------COLORS------------

$color-lite: #faf5f5;
$color-dark: #050505;
$color-md-dark: #0f0f0f;
$color-gray: #333232;
$color-gray-lite: #6d6b6b;
$color-graytrans: rgba(77, 76, 76, 0.9);
$color-gold: #a3810f;
/*====================================================
----------------------MIXINS------------------------
==================================================*/
//-------POSITION/CENTERING MIXINS---------
@mixin absol-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin absol-topLeftZero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//-------WIDTH/HEIGHT MIXINS----------

@mixin keep-it-hundo {
  width: 100%;
  height: 100%;
}

//----------SHADOW MIXINS-----------

@mixin shadow {
  box-shadow: 0.2rem 0.2rem 0.4rem $color-dark;
}

@mixin deep-shadow {
  box-shadow: 0.3rem 0.3rem 1rem $color-dark;
}

@mixin text-shadow {
  text-shadow: 0.2rem 0.2rem 0.3rem $color-dark;
}

@mixin text-shadowmid {
  text-shadow: 0.3rem 0.3rem 0.4rem $color-md-dark;
}

@mixin text-shadowdeep {
  text-shadow: 0.3rem 0.3rem 0.7rem $color-dark;
}

@mixin text-shadowgray {
  text-shadow: 0.2rem 0.2rem 0.2rem $color-gray-lite;
}

//--------TRANSITION MIXINS---------

@mixin transit2 {
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

@mixin transit3 {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@mixin transitall3 {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@mixin transit4 {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

@mixin transitall4 {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/*========================================================
---------------------------RESETS-------------------------
========================================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $color-gold;
  background-color: $color-dark;
}

/*=========================================================
---------------------------HEADER--------------------------
=========================================================*/

header {
  width: 100vw;
  height: 10rem;

  //----------------TITLE & ICONS----------------

  .header-box1 {
    width: 100%;
    height: 50%;
    @include flex-center;
    //border: 2px solid green;

    .logo {
      width: 40%;
      height: 100%;
      @include flex-center;
      font-size: 2rem;

      a {
        color: $color-gold;
        text-decoration: none;
      }
    }

    .icons {
      width: 60%;
      height: 100%;
      @include flex-center;

      li {
        width: 70%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
          color: $color-gold;

          i {
            font-size: 2rem;
          }
        }
      }
    }
  }

  //----------------MAIN NAV----------------

  .header-box2 {
    width: 100%;
    height: 50%;

    .nav-main {
      @include keep-it-hundo;
      background-color: $color-gold;

      .ul-main {
        @include keep-it-hundo;
        display: flex;
        justify-content: space-evenly;

        .li-main {
          list-style-type: none;
          display: flex;
          align-items: center;

          .links {
            text-decoration: none;
            font-size: 2.2rem;
            color: $color-dark;
            font-family: $tertiary-font;
          }
        }
      }
    }
  }
}

/*=========================================================
-------------------------JUMBOTRON-------------------------
=========================================================*/

.jumbotron {
  width: 100vw;
  height: calc(100vh - 10rem);
  //border: 1px solid red;

  .jumbo-title {
    margin-top: 7rem;
    font-family: $secondary-font;
    font-size: 2.75rem;
  }

  .jumbo-subtitle {
    margin-top: 1rem;
    font-family: $quaternary-font;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 2.75rem;
      height: 0.2rem;
      margin: 0 0.75rem;
      background-color: $color-gold;
    }

    h2 {
      font-size: 2.75rem;
    }
  }

  .jumbo-cta {
    width: 100%;
    height: 8rem;
    margin-top: 3rem;
    //border: 2px solid red;
    @include flex-center;

    .cta-btn {
      text-decoration: none;
      font-family: $tertiary-font;
      font-size: 3rem;
      color: $color-gold;
      border: 0.2rem solid $color-gold;
      padding: 1rem 2rem;
    }
  }

  .jumbo-img {
    width: 100%;
    height: 45%;
    margin-top: 3rem;
    //border: 2px solid blue;

    img {
      @include keep-it-hundo;
      object-fit: contain;
    }
  }
}
